@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    font-family: 'Teko', sans-serif;
    --color-gray: #333333;
    --color-halfGray: #373737;
    --color-lightGray: #C4C4C4;
    --color-disabledGray: #858585;
    --color-enabledGray: #FF740F;
    --color-enabledGray: #c79d29;
    --color-enabledGray: #2c71cc;
    --color-error: #e74141;
    --color-white: #ffffff;

    --gradient-active: linear-gradient(90deg, #18ACFE 1.72%, #0165E1 98.62%);
    --gradient-list-title:
}
